*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    /* background-image: linear-gradient(green,red);
    background-repeat: no-repeat; */
}
a{
    text-decoration: none;
    color: #fff;
}

.br{
    border: 2px solid red;
}
.brw{
    border: 2px solid white;
}
.brb{
    border: 2px solid black;
}
.box-200{
    width: 200px;
    height: 200px;
}
.box-300{
    width: 300px;
    height: 300px;
}
header{
    margin: 1px 0;
    padding: 20px 10px;
    border-radius: 10px;
    background: #080a3a;
    color: white;
}


.img-box{
    width: fit-content;
    height: fit-content;
    /* margin-left: 10px; */
}
.img-box img{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.hdr-text{
    width:fit-content;
    height: fit-content;
    margin: 0 0 0 10px;
    padding: 25px;
    margin: 0 240px;
}
.form-body{
    background-color: #999777;
    border-radius: 15px;
}
/* tittle */
.hdr-tittle{
    padding: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
}
.tittle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tittle-text h2{
    border: 2px solid rgb(176, 23, 23);
    border-radius: 10px;
    padding: 10px;
    background: white;
    

}
h4{
    color: green;
}
.itams-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* form  */
.student{
   
}
.condition h4{
    padding: 10px 0;
}

.condition input{
    color: red;
    padding: 10px 0;
}

.document-input h4{
    padding: 10px 0;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button:hover{
    background-color: green;
    color: red;
    border: 2px solid black;
}